/* css reset */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}


/* generics */
body{
    background-color: dimgray;
}


/* header */
header{
    background-color: white;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 10px;
}

#logo {
    vertical-align: middle;
    padding-left: 15px;
}

h1 {
    display: inline;
    vertical-align: middle;
    
}

/* main */

#button-container{
    max-width: 600px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 2%;
}

.button-task{
  color: white;
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 1px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.button-section{
    color: cornflowerblue;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    margin-left: 2px;
    font-size: 15px;
    border-radius: 4px;
    border-color: cornflowerblue;
    border-width: 1px;
    cursor: pointer; 
    vertical-align: middle; 
  }
