/* css reset */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}


/* generics */
body{
    background-color: rgb(240, 229, 229);
    font-family: 'Kanit', sans-serif;
}


/* utils */
.container{
    width: 50%;
    margin: auto;
}



/* header */
header{
    background-color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 35px;
}

#logo {
    vertical-align: middle;
    height: 50px;
    
}

h1 {
    display: inline;
    vertical-align: middle;
    
}

/* main */
.card{
    background-color: white;
    border-radius: 5px;
}

.card-top{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(240, 229, 229);
}

.card-bottom{
    padding: 25px 35px;
}

/* btn layout commands */
.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    background-color: white;
    border: 1px solid transparent;

}

.btn-task{
    color: white;
    background-color: cornflowerblue;
    border-color: currentColor;
}

.btn-section{
    color: dimgray;
    background-color: white;
    border-color: currentColor
}
